# Ignore git files.
.git
.gitignore

# Ignore docker files.
Dockerfile
docker-compose.yml
.dockerignore

# Ignore node_modules & build files.
node_modules
npm-debug.log
dist

# Ignore test files.
test
coverage

# Ignore env files.
.env
.env.*

# Ignore awseb files.
.elasticbeanstalk